body {
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    display: flex;
    justify-content: space-between; /* Cambiado a "space-between" para separar los elementos */
    align-items: center;
    height: 100vh;
    
   
  }
  
  .login-image {
    width: 75%; /* La imagen ocupa el 75% del ancho de la pantalla */
    height: 100vh;
    background-image: url('./TerniumLoginImg1.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff9100;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #ff9100;
  }
  