.page{
    position: relative;
}

.main-container{
    background-color: #555;
    text-align: left;
    position: relative;
}

.main-container > div{
    background-color: white;
}

.main-header{
    height: 8rem;
    position: relative;
    text-align: center;
    border-bottom: 2px solid #333;
}

.main-header .logo{
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.key-talent{
    margin-left: 5px;
    font-size: 20px;
    color: #fccd12;
}

.icon{
    width: 30px;
}

.body{
    min-height: 20rem;
}

.body{
    font-size: 15px;
    padding: 5px;
}

.personal-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.personal-data,
.evaluations{
    width: calc(50% - 5px);
}

.header{
    padding-left: 5px;
    background-color: #607d8b;
    /* background-color: rgb(255, 153, 0); */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

div > p{
    margin: 0;
}

td{
    padding: 2px
}

.info-personal{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    padding: 2px 4px;
    min-height: 15rem;
}

.info{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    padding: 2px 4px;
}

.info-personal > tbody > tr:nth-child(odd){
    background-color: #fff;
}

.info-personal > tbody > tr:nth-child(even){
    background-color: #cfd8dc;
}

/* .info-personal > thead{
    background-color: #c5c5c5;
} */

.info-personal tr td {
    text-align: left !important;
}

.info tr td {
    text-align: left !important;
}

th{
    background-color: #90a4ae;
}

th, td{
    padding-left: 10px;
}

.info > tbody > tr:nth-child(odd){
    background-color: #fff;
}

.info > tbody > tr:nth-child(even){
    background-color: #cfd8dc;
}

/* .info > thead{
    background-color: #c5c5c5;
} */

.border-r{
    border-right: 1px solid black;
}

.feedback{
    margin-bottom: 20px;
}

.comment-header{
    padding-left: 5px;
    padding-right: 20rem;
    /* background-color: rgb(255, 153, 0); */
    background-color: #607d8b;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.work-history{
    margin-bottom: 20px;
}

.profile-summary{
    margin-bottom: 20px;
}

.potential-job{
    margin-bottom: 20px;
}

.herramientas{
    z-index: 100;
    position: sticky;
    background-color: #333;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
}

.zoom-content{
    color: white;
    height: 2.5rem;
    width: 3.5rem;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-l{
    border-left: 2px solid #555;
}

.herramientas button{
    border: none;
    color: white;
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: transparent;
}

.herramientas button:hover{
    background-color: #555;
}

.herramientas.btn-eliminar {
    color: blue;
    width: 60px;
}

.resumen-perfil{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}