.listaUsuarios-bg {
    width: 100vw;
    height: 100%;
}

.listaUsuarios-bg{
    border: 1px solid black;
    width: 100%;

}

.listaUsuarios-bg table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.listaUsuarios-bg th {
    border-bottom: 2px solid black;
}

.listaUsuarios-bg tr {
    border-bottom: 1px solid black;
}