.header-buttons{
    display: flex;
    flex-direction: row;
}

.crear-usuario {
    max-width: 85%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.crear-usuario-fondo {
    padding-top: 50px;
    background-color: #f1f1f1;
    height: 100vh;
}

.tabla-crear-usuario{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.tabla-crear-usuario tr{
    border-bottom: 1px solid lightgray;
    height: 50px;
}

.tabla-crear-usuario .left{
    text-align: left;
    width: 80%;
}

.tabla-crear-usuario .right{
    text-align: left;
}