.editar-password {
    max-width: 85%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.editar-password-fondo {
    padding-top: 50px;
    background-color: #f1f1f1;
    height: 100vh;
}

.tabla-cambio-password {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}


.tabla-cambio-password .left{
    text-align: left;
    width: 75%;
}

.tabla-cambio-password .right{
    text-align: left;

}
