#delete-user-button{
    border: 2px solid #cf5d38;
}

#delete-user-button:hover{
    background-color: #cf5d38;
}

#edit-data{
    background-color: #6d6e6d;
    max-width: 60%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
}


#erase-user-div{
    display: flex;
    justify-content: space-between;
}

.editar-usuario {
    max-width: 85%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.editar-usuario-fondo {
    padding-top: 50px;
    background-color: #f1f1f1;
    height: 100vh;
}