

#edit-data{
    background-color: #6d6e6d;
    max-width: 60%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
}

#edit-email{
    width: 300px;
}


#erase-user-div{
    display: flex;
    justify-content: space-between;
}

.editar-usuario {
    max-width: 85%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.editar-usuario-fondo {
    padding-top: 50px;
    background-color: #f1f1f1;
    height: 100vh;
}

.edit-user-table{
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.edit-user-table .left{
    text-align: left;
    width: 60%;
}

.edit-user-table .right{
    text-align: left;
    width: 25%;
}

.button-password{
    font-size: 17px;
}

