.accordion{
    max-width: 85%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.accordion-fondo{
    padding: 30px;
    background-color: #f1f1f1;
    min-height: 100vh;
}

.return-button{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.title-accordion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns-accordion{
    display: flex;
    justify-content: flex-end;
}

.txt-align-left{
    text-align: left;
}

.body-accordion{
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
}

.btn-submit-accordion{
    border: 1px solid black;
    font-weight: 500;
    font-size: medium;
    margin-top: 10px;
}

.title-accordion .nombre-editor{
    font-weight: bold;
}