.sidebar-bg {
    border-right: 3px solid grey;

    text-align: left;
    font-size: 24px;
    font-weight: bold;

    width: 270px;
    height: calc(100vh - 71px);


}

.title-box {

    background-image: linear-gradient(to right, #ff9100, #ff6a00);
    color: white;

    text-align: center;

    height: 60px;

    padding-top: 12px;
}

.filter-box {
    padding-left: 30px;
    height: calc(100% - 60px - 90px);
    overflow-y: scroll;
    padding-bottom: 30px;
    padding-top: 20px;



}

.filters {
    margin-bottom: 15px;
}

.submit-btn {
    background-color: #007cb1 !important;
    margin: 0;
    border: none;
}

    .submit-btn:hover {
        background-color: #015aaa !important;
    }

.clear-btn {
    background-color: #ff3300 !important;
    margin: 0;
    border: none;
}

    .clear-btn:hover {
        background-color: #e30000 !important;
    }

Form {
    margin-right: 20px;
}

.buttons {
    height: 90px;
    padding-left: 30px;
}

.buttons button {
    height: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}